@font-face {
 -fx-font-family:"Font-Awesome";
  src: url('../fonts/fontawesome-webfont.ttf');
}
@font-face{
	-fx-font-family:"Lato-Regular";
	src:url("../fonts/Lato-Regular.ttf");
}
@font-face{
	-fx-font-family:"Lato-Light";
	src:url("../fonts/Lato-Light.ttf");
}
@font-face{
	-fx-font-family:"Lato-Black";
	src:url("../fonts/Lato-Black.ttf");
}
.app{
	-fx-background-color: rgb(252,233,79);
}
.btnapp{
	-fx-font-family: "Lato-Regular";
	-fx-background-color:rgb(255,255,255); 
	-fx-text-fill: rgb(136,138,133);
	-fx-font-size: 14pt;
	-fx-max-width: 200px;
}
.btntoolbar{
	-fx-font-family: "Lato-Black";
	-fx-background-color: transparent;
	-fx-text-fill: rgb(245,121,0);
	-fx-font-size: 18px;
	-fx-font-weight:bolder;
}
.titletoolber{
	-fx-font-family: "Lato-Black";
	-fx-text-fill:rgb(255,114,0);
	-fx-font-size: 16pt;
	-fx-font-weight: bolder;
}
.toolbar{
	-fx-background-color: rgb(255,255,255);
}

.lblor{
	-fx-font-family: "Lato-Regular";
	-fx-text-fill: rgb(255,114,0);
	-fx-font-size: 12pt;
}
.lblorange{
	-fx-font-family: "Lato-Black";
	-fx-text-fill: rgb(255,114,0);
	-fx-font-size: 12pt;
	-fx-font-weight: bolder;
}